<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

<div class="padded">
   <h2>How does it all work</h2>
   <p>
      First, we get the project files from you.<br>
      We evaluate your project then send you a quote.<br>
      <br>
      Once you accept the quote the part goes into production.<br>
      Production lasts 3 days. <br>
      <br>
      After the product is finished we box it up and shipped it to you.
   </p>
</div>

<div class="padded">
    <h2>What happens if there is a Delay?</h2>
    <p>
       First, we immediately inform you the customer.<br>
       We evaluate the delay and give you a revised timeline.<br>
       <br>
       Most delays will at most be a day.<br>
       In the case it is longer than a day the customer will be<br> 
       given a discount do to the inconvenience.
    </p>
 
    
 </div>

<%- include('../includes/end.ejs') %>