<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <div class="padded">
       <h2>How long does the average order take?</h2>
        <p>
            Once an order is placed it is sent to one of our experts to calculate a quote. This 
            <br> takes exactly one day. The quote will be sent to you to accept. Once it is accepted
            <br> the order will be put into our queuing system and be manufactured in 1 to 3 days and
            <br> shipped to in seven days.
        </p>
   </div>

   <div class="padded">
    <h2>I made an order but have not received a quote?</h2>
     <p>
        A quote will be sent to you in approximately 24 hours from when you make an order. 
         <br> don't worry, we're working on it.
     </p>
</div>

<div class="padded">
    <h2>What are your rates?</h2>
     <p>
        Our rates are extremely competitive, we charge…. 
     </p>
</div>

<div class="padded">
    <h2>What materials can i choose from?</h2>
     <p>
        Just steel right now. 
     </p>
</div>

<%- include('../includes/end.ejs') %>