<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <div class="padded">
    <h2>Who are we?</h2>
     <p>
        We are students with a passion and a drive to create and help others create. 
         <br> takes exactly one day. The quote will be sent to you to accept. Once it is accepted
         <br> the order will be put into our queuing system and be manufactured in 1 to 3 days and
         <br> shipped to in seven days.
     </p>
    </div>

    <div class="padded">
    <h2>How Long Have We Been Doing This?</h2>
         <p>
            This is our first year of development.
         </p>
    </div>
    
    
<%- include('../includes/end.ejs') %>