    <script src="/js/main.js"></script>
    <footer id="footer">
        <div class="row">
            <a class="column" href="/open-links/about-us">About us</a>
            <a class="column" href="/open-links/faq">FAQ</a>
            <a class="column" href="/open-links/about-our-process">About our process</a>
        </div>
    </footer>
</body>

</html>