    <script src="/js/main.js"></script>
    <footer id="footer">
        <div class="row">
            <a class="column" href="/aboutUs">About us</a>
            <a class="column" href="/customerService">FAQ</a>
            <a class="column" href="/AboutOurProcess">About our process</a>
        </div>
    </footer>
</body>

</html>