@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
}

body {
  position:relative;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 10rem;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3rem;
  background-color: #003f66;
  border-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-header__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #0090ff;
}
.main-header__item2 {
  margin-left: 5rem;
  padding: 0;
}

.main-header__item2 a {
  text-decoration: none;
  color: white;
}

.main-header__item2 a:hover,
.main-header__item2 a:active,
.main-header__item2 a.active {
  color: #0090ff;
}

.btn-nav{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  text-decoration: none;
  color: white;
}

.button:hover {
  color: #0090ff;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30vw;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #0090ff;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 2px solid #003f66a8;
  color: white;
  background: #0090ff;
  border-radius: 10px;
  cursor: pointer;
  height: 3rem;
}

.btn2 {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  border: 2px solid #003f66a8;
  color: white;
  background: #0090ff;
  border-radius: 10px;
  width: 150px;
  height: 3rem;
}

.reset{
  display: inline-block;
  text-decoration: none;
  font: inherit;
  color:#0090ff;
}
.btn:hover,
.btn:active {
  background-color: #003f66;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.user-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 40px;
  border: 1px solid black;
  background-color: gainsboro;
  border-radius: 3px;
  box-shadow: 2px 3px black;
  text-align: center;
}

.user-message--error {
  border-color: rgba(255, 0, 0, 0.555);
  background-color: rgba(255, 163, 163, 0.308);
  color: rgb(175, 0, 0);
}

.user-message--success {
  border-color: green;
  background-color: gainsboro;
  color: green;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0 1rem;
  border-radius: 5px 10px;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }

  .logo {
    width: 6.5rem;
    height: 3rem;
  }

  .logo-Person {
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
  }

  .logo-upload{
    padding-top: 10px;
    width: 39rem;
    height: 20rem;
  }

  #footer {
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
  }
  
  .column {
    text-decoration: none;
    color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    float: left;
    width: 33.33%;
    height: 7rem;
    background-color: rgb(226, 226, 226);
    border-top: 2px solid rgb(128, 128, 128);
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .centerLogo{
    padding-top: 5%;
  }

  .centerLogo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
  }
  
  .centeredSpace{
    padding-top: 2rem;
    text-align: center;

  }

  .padded {
    padding-left: 7rem;
    padding-top: 2rem;
  }

  .project-container{
    border: 2px solid black;
    width: 70vw;
    padding-left: 3rem;
    background-color: rgb(226, 226, 226);
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    width: 1300px;
  }

  .project-container2{
    border: 2px solid black;
    background-color: rgb(226, 226, 226);
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    width: 1300px;
  }

  .header{
    padding-left: 20px;
  }

  .description-padd{
    padding-bottom: 10px;
  }

  .description {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid  rgb(202, 202, 202);
    min-width: 400px;
  }

  .description-user textarea{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 500px;
    min-height: 100px;
    font-size: 17px;
  }

  .files{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    align-content: center;
    min-width: 600px;
    min-height: 300px;
  }

  .files li{
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
  }

  .files li img {
    vertical-align: middle;
  }



  .quote{
    padding-left: 5rem;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    padding-top: .5rem;
    align-items: center;   
     
  }

  .quote input{
    border: 2px solid  rgb(202, 202, 202);
    font-size: medium;
    height: 3rem;
    /* width: 7rem; */
  }

  .quote input button{
    vertical-align: middle;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    align-content: center;
    
  }

  .right-column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    align-content: center;
    border: 2px solid  rgb(202, 202, 202);
  }

  .center-btn{
    padding-left: 20%
  } 

  .inline{
    display: inline;
    font-weight: bold;
    font-size: 20px
  }

  .image-upload input{
    display: inline;
  }

  .content-left-x-large{
    text-align: left;
    font-size: x-large;
  }

  .content-left-large{
    text-align: left;
    font-size: large;
  }

  .content-left-large input{

    font-size: xx-large;
  }
  
  .project-name-input{
    padding-top: 1rem;
  }

  .infoBox{
    padding-left: 300px;;
    font-size: large;
  }

  .padding-top{
    text-align: left;
    padding-top: 20px;
  }
}
