<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/cnc.ejs') %>

    <div class="centeredSpace">
        <h3> <a href="/project/createProject"> Create New Project </a> </h3>
    </div>
</body>

<%- include('../includes/end.ejs') %>
